# Django development variables
SECRET_KEY= # your Django dev key; from a terminal, run `python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"`
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=bobntay.settings

# Django admin credentials; to create superuser on startup
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD= # Your admin password

# Database variables
DB_PASSWORD= # Your local database password
DATABASE_URL=postgres://bobntay:[your database password here]@db:5432/bobntay # Update the password here as well as in the line above
DB_SSL=True

# Genius variables
GENIUS_ACCESS_TOKEN= # Set up a genius.com account and poste the token here
GENIUS_WRITERS="robert pollard,taylor swift" # Set to whatever artists you choose; as many as you like, comma separated

# Local server variables
SERVER_URL=http://localhost:8000
PARSE_API_KEY= # Create and set a key for the song parsing routes here; from a terminal, run `openssl rand -hex 32`